/*CSS DOCUMENT*/
@import url("https://use.typekit.net/fpv8bgg.css");

div.container {
    width: 50em;
    margin: auto;
}
img {
    width: 100%;
}
header {
    width: 100%;
    clear: both;
}

h1 {
    width: 5em;
    float: left;  
}

h2 {
    text-align: center;
    text-transform: uppercase;
    clear:both;
    color: #EBA7AC;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    color: #7abd63;
    padding-left: 2em;
}

h4 {
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    color: rgb(40, 40, 40);
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
}

div.mainimage {
    width: 100%;
    margin: auto;
}

nav {
    float: right;
    padding-top: 1em;
}

nav ul {
   padding: 0em;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 0.5em;
    text-transform: uppercase;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #EBA7AC;
}

li {
    list-style: none;
    line-height: 0.3em;
}

.price {
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2.5em;
}

@media only screen and (min-width:30em) {
    h1 {
        width: 7em;
    }
    }
